@use "src/styles/utils.module.scss" as *;

.student_main_info {
    width: fit-content;

    &_item {
        font-size: 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px 0;

        & div:first-child {
            width: 100px;
            margin-right: 20px;
        }

        & div:last-child {
            color: $mainDarkBlueColor;

        }
    }
}

.certificates_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .upload_certificate_container {
        opacity: 0;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        align-items: center;

        &[data-visible="true"] {
            opacity: 1;
        }
    }
}