@use "src/styles/utils.module.scss" as *;

.container {
    width: fit-content;
    min-width: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    border: transparentize($mainBlueColor, 0.5) solid 1px;
    box-shadow: 0px 10px 20px #0000003f;
    display: flex;
    flex-direction: column;
    height: fit-content;
}

.header {
    &_list {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px 5px;
        background-color: $mainGreyColor;
    }

    &_item {
        font-size: 20px;
        font-weight: 500;
        overflow: hidden;
        text-align: center;
        transition: all 0.3s ease-in-out;
        position: relative;
        box-sizing: border-box;
        color: #fff;

        &_clickable {
            cursor: pointer;
            user-select: none;

            &:hover {
                color: $mainBlueColor;
            }
        }
    }
}

.item {
    height: 60px;
    display: flex;
    flex-direction: row;
    background-color: #ffffffa6;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #0000004f;
    margin-bottom: 10px;
    transition: all 0.2s ease-in-out;
    z-index: 1;
    backdrop-filter: blur(5px);

    & .text_align {
        &_left {
            text-align: left;
        }

        &_center {
            text-align: center;
        }

        &_right {
            text-align: right;
        }
    }

    &:hover:not(.item_selected):not(.item_non_selectable) {
        background-color: transparentize($mainBlueColor, 0.7);
        backdrop-filter: blur(10px);
        cursor: pointer;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &_selected {
        background-color: transparentize($mainBlueColor, 0.4);
    }

    &_field {
        font-size: 18px;
        padding: 5px 10px;
        overflow: hidden;
        box-sizing: border-box;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }


    &_control {
        position: absolute;
        max-height: 0px;
        width: 100%;
        overflow: hidden;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
        opacity: 0;
        border-bottom: black solid 1px;
        background-color: transparentize($mainLighterGreyColor, 0.1);
        backdrop-filter: blur(3px);
        z-index: 2;

        &[data-visible="true"] {
            max-height: 100px;
            padding: 10px;
            opacity: 1;
        }

        &_button {
            margin: 0 10px;

            &_unselect {
                cursor: pointer;
                fill: transparentize($mainBlueColor, 0.2);
                transition: all 0.3s ease-in-out;

                &:hover {
                    fill: $mainBlueColor;
                }
            }
        }

        &_bottom_section {
            height: 40px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: $mainLighterGreyColor;
        }

        &_navigation_section {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 10px 0;
            background-color: $mainGreyColor;

            & .page {
                border: $mainBlueColor 1px solid;
                border-radius: 10px;
                width: 30px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 5px;
                cursor: pointer;
                user-select: none;
                background-color: transparentize($mainBlueColor, 0.9);
                transition: all 0.3s ease-in-out;
                color: transparentize($mainGreyColor, 0.4);

                &:hover {
                    color: $mainBlueColor;
                }

                &_selected {
                    color: #fff;
                }
            }

            & .arrow {

                &_left {
                    fill: transparentize(#fff, 0.4);
                    transition: all 0.2s ease-in-out;

                    &:hover {
                        fill: $mainBlueColor;
                        cursor: pointer;
                    }
                }

                &_right {
                    fill: transparentize(#fff, 0.4);
                    transition: all 0.2s ease-in-out;
                    transform: rotateY(180deg);

                    &:hover {
                        fill: $mainBlueColor;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    &_list {

        min-height: 150px;
        max-height: 500px;
        padding: 5px 5px;
        overflow-y: auto;
        flex: 1;
        transition: all 0.3s ease-in-out;

        &[data-shifted="true"] {
            transform: translateY(50px);
        }

        &_container {
            position: relative;
            flex: 1;
            overflow: hidden;
        }


        &_background_columns {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: row;
            z-index: 0;
            padding: 0 5px;
        }

        &_background_column {
            &_odd {
                background-color: #fff;
                height: 100%;
            }

            &_even {
                background-color: transparentize($mainGreyColor, 0.9);
                height: 100%;
            }
        }

        &_empty {
            text-align: center;
            padding: 20px;
        }
    }
}