@use "src/styles/utils.module.scss" as *;

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}

.user_list {
    &_container {
        width: 70%;
        height: min-content;
    }

    &_control {
        width: 20%;

        & .filter_field_value {

            &_input {
                width: 200px;
                height: 40px;
                border: 1px solid #c1bcbc;
                background-color: #fff;
            }
        }

        &_section {
            margin-bottom: 30px;

            & span {
                color: $mainDarkBlueColor;
            }
        }
    }
}