@use "src/styles/utils.module.scss" as *;

.theme {

    font-size: 22px;
    margin: 10px 0;
    color: #000;

    &_name {
        display: flex;
        flex-direction: row;
        align-items: center;

        & span {
            color: $mainDarkBlueColor;
            margin: 0 10px;
        }
    }

    &_status {
        font-size: 16px;
    }

    &:not(.theme_unavailable) {

        & span {
            color: $mainDarkBlueColor;
            transition: all 0.3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: $mainBlueColor;
            }
        }
    }

    &_unavailable {
        filter: grayscale(0.6);
    }

    &_container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}