@use "src/styles/utils.module.scss" as *;

.personal_info {

    &_data {
        display: flex;
        flex-direction: row;
    }

    &_text {
        display: grid;
        width: fit-content;
    }

    &_line {
        display: grid;
        grid-template-columns: 120px 1fr;
    }

    &_col {
        margin-right: 20px;
    }

    &_photo {
        object-fit: cover;
        margin-left: 30px;
        width: 150px;
        height: 150px;
        border-radius: 75px;
    }
}
