@use "src/styles/utils.module.scss" as *;

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 70px;
    display: flex;
    flex-direction: column;
}

.input_error {
    top: 100%;
    color: $mainRedColor;
    font-size: 15px;
    max-height: 0px;
    max-width: 0;
    opacity: 0;
    overflow: hidden;
    white-space: pre-line;

    &_shown {
        max-height: 100px;
        max-width: inherit;
        opacity: 1;
        transition: all 0.3s ease-in-out;
    }
}