$mainGreyColor: #26262b;
$mainBlueColor: #71a3ff;
$mainRedColor: #ff4800;

.modal_window {
    &_title {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        margin-bottom: 20px;
    }

    &_text {
        font-size: 15px;
        text-align: center;

        &_medium {
            font-size: 18px;
            margin: 5px 0;
        }

        & span {
            color: $mainBlueColor;
            cursor: pointer;
        }
    }

    &_button {
        margin: 0 5px;
    }

    &_buttons_list {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}

.form {
    &_button {
        &_container {
            display: flex;
            justify-content: center;
            margin: 20px 0;
        }
    }
}