@use "src/styles/utils.module.scss" as *;

.container {
    width: 800px;
    height: 300px;
    border: 1px solid $mainBlueColor;
    border-radius: 10px;
    background-color: #ffffff66;
    box-shadow: 0 10px 20px #00000023;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.navigation_section {
    background-color: #5b55812c;
    width: 70%;
    height: inherit;
    display: flex;
    flex-direction: column;

    &_item {
        margin: 3px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        display: flex;
        flex-direction: row;
        align-items: center;
        fill: #000;
        transition: all 0.3s ease-in-out;
        width: fit-content;

        &_selected {
            color: transparentize($mainBlueColor, 0.2);
            fill: transparentize($mainBlueColor, 0.2);
        }

        & .item {

            &_icon {
                width: 15px;
                height: 15px;
                fill: inherit
            }

            &_name {
                font-size: 16px;
                user-select: none;
                margin-left: 10px;
            }
        }

        &:hover {
            color: $mainBlueColor;
            fill: $mainBlueColor;
        }
    }

    & .path_navigation {
        width: 100%;
        height: 30px;
        padding: 5px;
        background-color: #ffffff96;
        display: flex;
        flex-direction: row;
        align-items: center;

        & .go_back_arrow {
            transform: rotateZ(90deg);
            width: 15px;
            height: 15px;
            cursor: pointer;
            fill: #000;
            transition: all 0.3s ease-in-out;

            &:hover {
                fill: $mainBlueColor;
            }
        }

        & .current_path {
            margin-left: 10px;
        }
    }

    & .structure_navigation {
        padding: 10px;
        flex: 1;
    }

    & .controls {
        width: 100%;
        height: 50px;
        padding: 5px;
        background-color: #ffffff96;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

.file_section {
    width: 30%;
    padding: 30px 10px 20px 10px;
    color: #000;
    font-size: 18px;

}