@use "src/styles/utils.module.scss" as *;

.container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}

.input {
    &_container {
        height: 20px;
        width: 20px;
    }

    &_label {
        font-size: 20px;
        margin-right: 10px;
    }
}

.disabled {
    filter: brightness(0.8)
}