@use "src/styles/utils.module.scss" as *;

.container {
    position: relative;
    width: 100%;
}

.status {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-size: 22px;
    transition: background-color 0.3s ease-in-out, backdrop-filter 0.3s ease-in-out, opacity 0.1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    z-index: 5;
    text-shadow: 0px 0px 5px #0000008e;

    &:not(.status_loading):not(.status_error) {
        pointer-events: none;
    }

    &_loading {
        background-color: transparentize(#000, 0.5);
        backdrop-filter: blur(3px);
        opacity: 1;
    }

    &_error {
        opacity: 1;
        background-color: transparentize($mainRedColor, 0.7);
        backdrop-filter: blur(3px);
    }


}