@use "src/styles/utils.module.scss" as *;

.container {
    display: flex;
    flex-direction: row;
}

.test_result_section {
    margin: auto auto 50px auto;
    animation: open_result_section_animation 0.2s ease-in-out;
}

.test {

    &_time {
        font-size: 18px;

        & span {
            color: $mainDarkBlueColor
        }
    }

    &_date_end {
        font-size: 18px;

        & span {
            color: $mainDarkBlueColor
        }
    }

    &_attempts_list {
        max-height: 300px;
    }

    &_attempt {
        margin: 10px 0;
        display: flex;
        flex-direction: row;

        &_info {
            display: flex;
            flex-direction: row;

            &_section {
                margin: 0 5px;
                width: 200px;
            }
        }
    }
}

.theme {
    &_files {}

    &_file {
        font-size: 18px;
        margin-bottom: 20px;

        & a {
            color: $mainDarkBlueColor
        }
    }
}

@keyframes open_result_section_animation {
    0% {
        opacity: 0;
        transform: scale(0);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}